{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block content %}
<div style="height: 0.5vh;"></div>
{% include "SNIPPET_navbar.html" %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-4">{{ message }}</h1>
            <p class="lead">We have logged your error and our team will fix it as soon as possible!</p>
            <br>
            <p class="lead">For now, we hope you enjoy this cute dog image!</p>
            <img style="max-height: 50vh; max-width: 75vw;" src="{{ image_source }}">
            <br><br><br><br><br>
        </div>
    </div>
</div>
{% endblock %}
