{% extends "base.html" %}

{% block title %}Saved Searches{% endblock %}

{% block content %}
<div style="height: 0.5vh;"></div>
{% include "SNIPPET_navbar.html" %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="w-100">
            {% set msgs = get_flashed_messages() %}
            {% for msg in msgs %}
            <div class="alert alert-warning">
              {{ msg }}
            </div>
            {% endfor %}
            {% for index in range(length) %}
            <div class="card" style="w-100">
                <div class="card-body">
                    <a href="/remove/{{ searches['city'][index][0] }}/{{ searches['lat'][index][0] }}/{{ searches['long'][index][0] }}" class="fa fa-times" style="color: red;"></a>
                    <a href="/city/{{ searches['city'][index][0] }}/{{searches['region'][index][0]}}/{{searches['country'][index][0]}}/{{ searches['lat'][index][0] }}/{{ searches['long'][index][0] }}">
                        {{ searches['city'][index][0] }}, {{searches['region'][index][0]}}, {{searches['country'][index][0]}} <span style="color: rgb(159, 159, 159)">| ({{ searches['lat'][index][0] }}, {{ searches['long'][index][0] }})</span>
                    </a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
