{% extends "base.html" %}

{% block title %}Results{% endblock %}

{% block content %}
<div style="height: 0.5vh;"></div>
{% include "SNIPPET_navbar.html" %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="w-100">
            {% for item in result %}
            <div class="card" style="w-100">
                <div class="card-body">
                    <a href="/city/{{item['local_name']}}/{{item['region']}}/{{item['country']}}/{{item['timezone']}}/{{item['latitude']}}/{{item['longitude']}}">
                        {{item['local_name']}}, {{item['region']}}, {{item['country']}} <span style="color: rgb(100, 100, 100);">| {{item['eng_name']}}, ({{item['latitude']}}, {{item['longitude']}}) |&nbsp;GMT&nbsp;{{item['timezone']}}</span>
                    </a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
