<div>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#user_info">{{ username }}</button>
    <div class="collapse position-absolute" id="user_info" style="right: 0px; z-index: 2000; top: 57px;">
        <div class="list-group">
            <a href="/saved_searches" class="list-group-item list-group-item-action">Saved Searches</a>
            <a href="/logout" class="list-group-item list-group-item-action bg-danger text-white">Log out</a>
        </div>
    </div>
</div>
